<!DOCTYPE html>
<html lang="en">
<head th:replace="~{parts/common :: head}"></head>
<body style="background-color: #1f1f1f">
<div th:replace="~{parts/common :: navbar}"></div>


<div id="container" class="pt-5">
    <div class="container mt-5 pb-5 text-color-white">
        <section>
            <h3>Про нас</h3>
            <br>
            <p>ANIMELZ - це сайт, створений фанатами для фанатів. Нажаль сайтом ніхто не користуються, і
                щомісяця нам приходять великі рахунки за хостинг сайту. Тому будь ласка долучайся до волонтерської команди до якої входять засновник, розробники і
                модератори та допоможи сайту проіснувати ще один місяць. Якщо ви зацікавлені в тому, щоб зробити свій внесок, <a href="https://donatello.to/Areshok">дізнайтеся, як підтримати
                    сайт.</a><br/>
            <h5>Контактна інформація</h5>
            <p><b>E-mail:</b> animelz.info@gmail.com</p>
        </section>
        <h4 class="mt-5">Засновник сайту</h4>
        <section>
            <div class="d-block text-center" style="float: left">
                <img id="user-avatar" src="https://i.ibb.co/bQJ9Zsk/melzri.png" class="mx-auto">
                <h5 class="mt-2">Areshok</h5>
            </div>
        </section>


    </div>
</div>

</body>
</html>